// $layoutClass  = '.masonry-layout'
// $panelClass   = '.masonry-layout__panel'
// $panelContent = '.masonry-layout__panel-content'

$panelGap      = 5px

$addFlipper  = true

/**
* Remember the layout structure.
*
* It's important when defining class names to make them
* meaningful so they are easy to maintain/understand for
* newcomers.
*
*/

$layout           = 'masonry-layout'
$panel            = 'panel'
$panelContent     = 'panel-content'
$imagePanel       = 'img'
$cluster          = 'cluster'
$segment          = 'segment'
$small            = 'small'
$medium           = 'medium'
$large            = 'large'
$flipper          = 'flipper'
$flipperContainer = 'flipper-container'
$flipperFront     = 'front'
$flipperBack      = 'back'
$quarterSize      = 'quarter-size'
$halfSize         = 'half-size'
$fullSize         = 'full-size'
$verticalFlow     = 'vertical'
$horizontalFlow   = 'horizontal'
