$panelGap      = 5px
$addFlipper  = true

/**
* Remember the layout structure.
*
* It's important when defining class names to make them
* meaningful so they are easy to maintain/understand for
* newcomers.
*
*/

$layout           = 'ml'
$panel            = 'pnl'
$panelContent     = 'pnl-cntnt'
$imagePanel       = 'img'
$cluster          = 'clstr'
$segment          = 'sgmnt'
$small            = 'sm'
$medium           = 'md'
$large            = 'lg'
$flipper          = 'flip'
$flipperContainer = 'flip-cntnr'
$flipperFront     = 'frnt'
$flipperBack      = 'bck'
$quarterSize      = 'qrt-size'
$halfSize         = 'hlf-size'
$fullSize         = 'fll-size'
$verticalFlow     = 'vrt'
$horizontalFlow   = 'hrz'

$config = {
  layout: {
    label: 'ml'
  },
  panel:  {
    label: 'ml-pnl',
    els : {
      content: 'cntnt'
    },
    mods: {
      cluster   : 'clstr',
      segment   : 'sgmnt',
      small     : 'sm',
      medium    : 'md',
      large     : 'lg',
      vertical  : 'vrt',
      horizontal: 'hrz',
      quarter   : 'qrt',
      half      : 'hlf',
      full      : 'fll',
      image     : 'img'
    }
  },
  flip: {
    label: 'ml-flip',
    els: {
      front: 'frnt',
      back : 'bck'
    }
  }
}
