// @import '../../config'
// /**
//   * driveway
// */
//
// {$layoutClass}
//   column-count 1
//   @media(min-width: 768px)
//     column-count 2
//   @media(min-width: 1200px)
//     column-count 3
//   column-gap 0
//
//   /**
//     * Image theming
//   */
//   img
//     max-width 100%
//
//     &{$panelContent}
//       padding 0
//
// {$panelClass}
//   @media(min-width: 768px)
//     break-inside avoid
//
//   padding $panelGap
//
//   {$panelContent}
//     overflow hidden
//     width 100%
//
//   &{$clusterSmall}
//     height 200px
//
//   &{$clusterMedium}
//     height 300px
//
//   &{$clusterLarge}
//     height 400px
//
//   &{$clusterClass}
//     display        flex
//     padding        0
//     flex-wrap      wrap
//     flex-direction row
//     @media(max-width: 768px)
//       &{$clusterSmall}
//       &{$clusterMedium}
//       &{$clusterLarge}
//         overflow hidden
//         height   auto
//
//
//     {$panelClass}
//       display block
//       width   100%
//       height  auto
//       @media(min-width: 768px)
//         flex    1
//         display flex
//         &{$clusterSegmentFullSize}
//           flex   0 0 100%
//           width  100%
//           height 100%
//         &{$clusterSegmentHalfSize}
//           flex   0 0 50%
//           width  50%
//           height 50%
//         &{$clusterSegmentQuarterSize}
//           flex   0 0 25%
//           width  25%
//           height 25%
//
//     &{$clusterVerticalFlow}
//       @media(min-width: 768px)
//         flex-direction column
//       {$panelClass}
//         @media(min-width: 768px)
//           width 50%
//
//     &{$clusterHorizontalFlow}
//       {$panelClass}
//         @media(min-width: 768px)
//           height 50%
//
// @media(max-width: 768px)
// @media(min-width: 768px)
//   {$layoutClass}
//     column-count 2
//   {$panelClass}
//     break-inside avoid
// @media(min-width: 1200px)
//   {$layoutClass}
//     column-count 3
