@import 'bem'

// Import user configuration
c = json('../../driveway-config.json', {
  hash: true,
  leave-strings: true
})
$blocks   = c.blocks
$mods     = c.mods
$panelgap = unquote(c.panelGap)

/**
  * driveway.css - pure CSS masonry layouts aid.
*/

// Layout block
.{$blocks.layout.lbl}
  box-sizing   border-box
  column-count 1
  column-gap   0
  position     relative

  +el($blocks.layout.els.focus-curtain)
    background-color black
    bottom           0
    display          none
    left             0
    opacity          .5
    position         fixed
    right            0
    top              0
    z-index          2


  *
    box-sizing border-box

  @media(min-width: 768px)
    column-count 2

  @media(min-width: 1200px)
    column-count 3

// Panel block
.{$blocks.panel.lbl}
  margin 0
  padding $panelgap


  +mod($mods.small)
    height 200px

  +mod($mods.medium)
    height 300px

  +mod($mods.large)
    height 400px

  +mod($mods.segment)
    display block
    height  auto
    width   100%

    @media(min-width: 768px)
      display flex
      flex 1

  +mod($mods.focus)
    position relative
    z-index  3

    &:hover ~ .{$blocks.layout.lbl}__{$blocks.layout.els.focus-curtain}
      display block


  @media (min-width: 768px)
    break-inside avoid

    +mod($mods.full)
      flex 0 0 100%
      height 100%
      width 100%

    +mod($mods.half)
      flex 0 0 505%
      height 50%
      width 50%

    +mod($mods.quarter)
      flex 0 0 25%
      height 25%
      width 25%

    +mod($mods.vertical)
      flex-direction column
      .{$blocks.panel.lbl}--{$mods.segment}
        width 50%

    +mod($mods.horizontal)
      flex-direction row
      .{$blocks.panel.lbl}--{$mods.segment}
        height 50%

  @media(max-width: 768px)
    &--{$mods.small}
    &--{$mods.medium}
    &--{$mods.large}
      &:not(.{$blocks.flip.lbl})
        height   auto
      overflow hidden

  +mod($mods.cluster)
    display        flex
    flex-wrap      wrap
    padding        0


  +el($blocks.panel.els.content)
    border-radius 10px
    overflow      hidden
    padding       10px
    width         100%

    +mod($mods.image)
      max-width 100%
      padding 0


.{$blocks.flip.lbl}
  perspective 1000

  &:hover
    .{$blocks.flip.lbl}__{$blocks.flip.els.content}
      transform rotateY(180deg)

  +el($blocks.flip.els.panel)
    backface-visibility hidden
    border-radius       10px
    height              100%
    left                0
    overflow            hidden
    position            absolute
    top                 0
    width               100%

    +mod($mods.front)
      transform rotateY(0deg)
      z-index 2

    +mod($mods.back)
      transform rotateY(180deg)

  +el($blocks.flip.els.content)
    height          100%
    overflow        visible
    position        relative
    transform-style preserve-3d
    transition      .25s
