@import 'bem'

// Import user configuration
c = json('../../driveway-config.json', {
  hash: true,
  leave-strings: true
})
$panelGap = unquote(c.panelGap)

/**
  * driveway.css - pure CSS masonry layouts aid.
*/

.{c.blocks.layout.lbl}
  box-sizing   border-box
  column-count 1
  column-gap   0

.{c.blocks.layout.lbl}

  *
    box-sizing border-box

  @media(min-width: 768px)
    column-count 2

  @media(min-width: 1200px)
    column-count 3


.{c.blocks.panel.lbl}
  margin 0
  padding $panelGap


  +mod(c.mods.small)
    height 200px

  +mod(c.mods.medium)
    height 300px

  +mod(c.mods.large)
    height 400px

  +mod(c.mods.segment)
    display block
    width   100%
    height  auto

    @media(min-width: 768px)
      flex 1
      display flex

  @media (min-width: 768px)
    break-inside avoid

    +mod(c.mods.full)
      flex 0 0 100%
      width 100%
      height 100%

    +mod(c.mods.half)
      flex 0 0 505%
      width 50%
      height 50%

    +mod(c.mods.quarter)
      flex 0 0 25%
      width 25%
      height 25%

    +mod(c.mods.vertical)
      flex-direction column
      .{c.blocks.panel.lbl}--{c.mods.segment}
        width 50%

    +mod(c.mods.horizontal)
      flex-direction row
      .{c.blocks.panel.lbl}--{c.mods.segment}
        height 50%

  @media(max-width: 768px)
    &--{c.mods.small}
    &--{c.mods.medium}
    &--{c.mods.large}
      overflow hidden
      height   auto

  +mod(c.mods.cluster)
    display        flex
    padding        0
    flex-wrap      wrap


  +el(c.blocks.panel.els.content)
    padding       10px
    border-radius 10px
    overflow      hidden
    width         100%

    +mod(c.mods.image)
      max-width 100%
      padding 0
