$red    = #e74c3c
$green  = #26a65b
$purple = #8e44ad
$blue   = #1e8bc3
$white  = #fff
/**
  * Color styles
*/
.tx--white
  color $white

.bg--red
  background-color $red

.bg--green
  background-color $green

.bg--purple
  background-color $purple

.bg--blue
  background-color $blue

img
  max-height 300px
