$red    = #e74c3c
$green  = #26a65b
$purple = #8e44ad
$blue   = #1e8bc3
$white  = #fff

$colorPallette = {
  red   : $red
  blue  : $blue
  green : $green
  purple: $purple
  white : $white
}

/**
* Colors
*/
for color, value in $colorPallette
  .bg--{color}
    background-color value
  .tx--{color}
    color            value

// Import user configuration
c = json('../../driveway-config.json', {
  hash: true,
  leave-strings: true
})
$blocks   = c.blocks

/**
* Images
*/
img
  max-height 300px

  &.{$blocks.panel.lbl}__{$blocks.panel.els.content}
  &.{$blocks.flip.lbl}__{$blocks.flip.els.panel}
    padding 0
