mixin cluster(flow)
  - var panelClass = blocks.panel.lbl
  - var contentClass = panelClass + '__' + blocks.panel.els.content
  - var clusterClass = blocks.cluster.lbl
  - var flowClass = clusterClass + '--' + mods[flow]
  div(class = "#{panelClass} #{clusterClass} #{flowClass}")
    if block
      block
    else
      p Empty cluster
