include variables.jade
include segment.jade
include cluster.jade
include panel.jade

mixin generateCluster(flow)
  +cluster(flow)
    - var containerStyle = ''
    if flow === 'horizontal'
      - containerStyle = 'row'
    else
      - containerStyle = 'column'
    
    +segmentContainer(containerStyle)
      +segment()
        h1 I
    +segmentContainer(containerStyle)
      +segment()
        h1 am
      +segment()
        h1= flow

mixin generatePanel(cluster, clusterFlow)
  if cluster
    +generateCluster(clusterFlow)
  else
    - var colors = [bgRed, bgGreen, bgBlue, bgPurple]
    - var paras = Math.floor(Math.random() * colors.length + 1)
    +panel(colors[paras - 1])
      - var p = 0
      while p < paras
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non varius nunc, nec viverra dolor. Sed porttitor urna non accumsan vehicula. Morbi malesuada mollis lacus.
        - p++
