html(lang="en-us")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title= name
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
  meta(name="description", content= description)
  link(rel="stylesheet", href="css/#{name}.min.css")
  link(rel="stylesheet", href="css/demo.min.css")
body
  .masonry-layout
    .masonry-layout__panel.image-holder.is--flipper
      .masonry-layout__panel-content(style="height: 300px;")
        .masonry-layout__panel-content-front
          img(src="img/photo-1.jpg")
        .masonry-layout__panel-content-back
          p Here is a flipped image...
    .masonry-layout__panel
      .masonry-layout__panel-content.tx--white.bg--green
        h1 Here is a masonry layout.
    .masonry-layout__panel.is--cluster.is--horizontal.medium
      .masonry-layout__panel.full-size.image-holder
        .masonry-layout__panel-content
          img(src="img/photo-2.jpg")
      .masonry-layout__panel.image-holder.quarter-size
        .masonry-layout__panel-content
          img(src="img/photo-1.jpg")
      .masonry-layout__panel
        .masonry-layout__panel-content.bg--red.tx--white
          p.
            Some cool pics.
    .masonry-layout__panel
      .masonry-layout__panel-content.tx--white.bg--purple
        h3 That's pretty cool, thanks for showing me.
    .masonry-layout__panel.is--cluster.is--vertical.large
      .masonry-layout__panel.image-holder.full-size
        .masonry-layout__panel-content
          img(src="img/photo-2.jpg")
      .masonry-layout__panel.quarter-size
        .masonry-layout__panel-content.bg--blue.tx--white
          p.
            This is an image, it's quite nice.
      .masonry-layout__panel
        .masonry-layout__panel-content.bg--blue.tx--white
          a Click here to find out more.
    .masonry-layout__panel
      .masonry-layout__panel-content.tx--white.bg--red
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu justo ex. Praesent mollis augue sagittis eros pharetra feugiat. Phasellus dignissim est lacus. Sed nec imperdiet dolor, sit amet mattis ex. Sed sed augue eu neque tristique commodo. Mauris aliquet tortor sollicitudin nibh molestie, id egestas nisl sollicitudin. Aliquam erat volutpat. Donec quis ultrices ligula. Cras sed purus risus. Curabitur quis eros eu tortor semper eleifend. Pellentesque lorem elit, dignissim interdum massa id, malesuada rutrum ligula. Suspendisse tempor quis mauris eu facilisis. Phasellus non volutpat diam, non dapibus ligula. Ut non molestie ex, nec sagittis mi. Curabitur suscipit tellus id dolor pretium blandit. Cras tristique tristique pharetra.
    .masonry-layout__panel
      .masonry-layout__panel-content.tx--white.bg--green
        h2 Some post about something
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu justo ex. Praesent mollis augue sagittis eros pharetra feugiat. Phasellus dignissim est lacus. Sed nec imperdiet dolor, sit amet mattis ex. Sed sed augue eu neque tristique commodo. Mauris aliquet tortor sollicitudin nibh molestie, id egestas nisl sollicitudin. Aliquam erat volutpat. Donec quis ultrices ligula. Cras sed purus risus. Curabitur quis eros eu tortor semper eleifend.
    .masonry-layout__panel.image-holder
      .masonry-layout__panel-content
        img(src="img/photo-1.jpg")
