html(lang="en-us")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", cntnt="IE=edge")
  title= name
  meta(name="viewport", cntnt="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
  meta(name="description", cntnt= description)
  link(rel="stylesheet", href="css/#{name}.min.css")
  link(rel="stylesheet", href="css/theme.min.css")
body
  .ml
    .ml-pnl.ml-pnl--md.ml-flp
      .ml-pnl__cntnt.ml-flp__cntnt
        img.ml-flp__pnl.ml-flp__pnl--frnt.ml-flp__pnl--img(src="img/photo-1.jpg")
        .ml-flp__pnl.ml-flp__pnl--bck.bg--green
          p Here is a flpped image...
    .ml-pnl
      .ml-pnl__cntnt.tx--white.bg--green
        h1 Here is a masonry layout.
    .ml-pnl.ml-pnl--clstr.ml-pnl--hrz.ml-pnl--md
      .ml-pnl.ml-pnl--sgmnt.ml-pnl--fll
        img.ml-pnl__cntnt.ml-pnl__cntnt--img(src="img/photo-2.jpg")
      .ml-pnl.ml-pnl--sgmnt.ml-pnl--qrt
        img.ml-pnl__cntnt.ml-pnl__cntnt--img(src="img/photo-1.jpg")
      .ml-pnl.ml-pnl--sgmnt
        .ml-pnl__cntnt.bg--red.tx--white
          p.
            Some cool pics.
    .ml-pnl
      .ml-pnl__cntnt.tx--white.bg--purple
        h3 That's pretty cool, thanks for showing me.
    .ml-pnl.ml-pnl--clstr.ml-pnl--vrt.ml-pnl--lg
      .ml-pnl.ml-pnl--sgmnt.ml-pnl--fll
        img.ml-pnl__cntnt.ml-pnl__cntnt--img(src="img/photo-2.jpg")
      .ml-pnl.ml-pnl--sgmnt.ml-pnl--qrt
        .ml-pnl__cntnt.bg--blue.tx--white
          p.
            This is an image, it's quite nice.
      .ml-pnl.ml-pnl--sgmnt
        .ml-pnl__cntnt.bg--blue.tx--white
          a Click here to find out more.
    .ml-pnl.ml-pnl--fcs
      .ml-pnl__cntnt.tx--white.bg--green
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu justo ex. Praesent mollis augue sagittis eros pharetra feugiat. Phasellus dignissim est lacus. Sed nec imperdiet dolor, sit amet mattis ex.
    .ml-pnl
      .ml-pnl__cntnt.tx--white.bg--red
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu justo ex. Praesent mollis augue sagittis eros pharetra feugiat. Phasellus dignissim est lacus. Sed nec imperdiet dolor, sit amet mattis ex. Sed sed augue eu neque tristique commodo. Mauris aliquet tortor sollicitudin nibh molestie, id egestas nisl sollicitudin. Aliquam erat volutpat. Donec quis ultrices ligula. Cras sed purus risus. Curabitur quis eros eu tortor semper eleifend. Pellentesque lorem elit, dignissim interdum massa id, malesuada rutrum ligula. Suspendisse tempor quis mauris eu facilisis. Phasellus non volutpat diam, non dapibus ligula. Ut non molestie ex, nec sagittis mi. Curabitur suscipit tellus id dolor pretium blandit. Cras tristique tristique pharetra.
    .ml-pnl
      .ml-pnl__cntnt.tx--white.bg--green
        h2 Some post about something
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu justo ex. Praesent mollis augue sagittis eros pharetra feugiat. Phasellus dignissim est lacus. Sed nec imperdiet dolor, sit amet mattis ex. Sed sed augue eu neque tristique commodo. Mauris aliquet tortor sollicitudin nibh molestie, id egestas nisl sollicitudin. Aliquam erat volutpat. Donec quis ultrices ligula. Cras sed purus risus. Curabitur quis eros eu tortor semper eleifend.
    .ml-pnl
      img.ml-pnl__cntnt.ml-pnl__cntnt--img(src="img/photo-1.jpg")
    .ml__fcs-crtn
